@import "../theme";

.adx-tag{
  font-family: $primary-font;
  display: inline-block;
  margin: 5px;
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 2px;
  border: 1px solid;
  box-sizing: border-box;
}