@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,800&display=swap");
.adx-datePicker {
  font-family: "Nunito", sans-serif;
  position: relative;
}
.adx-datePicker .input-field {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  height: 30px;
  overflow: hidden;
  display: inline-flex;
  padding: 0 10px;
  align-items: center;
  transition: 0.3s ease;
}
.adx-datePicker .input-field input {
  border: none;
  outline: none;
  text-transform: capitalize;
  color: #666666;
}
.adx-datePicker .input-field input:disabled {
  background-color: transparent;
}
.adx-datePicker .input-field img {
  width: 15px;
}
.adx-datePicker .input-field:hover {
  border-color: #236467;
}
.adx-datePicker .date-picker-con {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.adx-datePicker .date-picker {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 1001;
  min-width: 250px;
  transition: 0.4s ease;
  opacity: 0;
  visibility: hidden;
  transform-origin: left top;
  transform: scale(0);
}
.adx-datePicker .date-picker.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.adx-datePicker .date-picker .heading {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  box-sizing: border-box;
}
.adx-datePicker .date-picker .heading .backKey {
  font-size: 12px;
  font-weight: 600;
  color: #236467;
  cursor: pointer;
}
.adx-datePicker .date-picker .heading button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.adx-datePicker .date-picker .heading button img {
  width: 15px;
}
.adx-datePicker .date-picker .heading .rcontrol button {
  transform: rotateY(180deg);
}
.adx-datePicker .date-picker .heading .context-main {
  font-size: 13px;
  color: #4d4d4d;
}
.adx-datePicker .date-picker .heading .context-main span {
  cursor: pointer;
  transition: 0.3s ease;
  margin: 0 3px;
  text-transform: capitalize;
}
.adx-datePicker .date-picker .heading .context-main span:hover {
  color: #236467;
}
.adx-datePicker .date-picker .body {
  padding: 0 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 13px;
}
.adx-datePicker .date-picker .body .date-data {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.adx-datePicker .date-picker .body .date-data .weekTitle {
  height: 35px;
  line-height: 35px;
}
.adx-datePicker .date-picker .body .weekDays {
  color: #4d4d4d;
  transition: 0.3s ease;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  border-radius: 2px;
}
.adx-datePicker .date-picker .body .weekDays:hover {
  background-color: #f2f2f2;
}
.adx-datePicker .date-picker .body .weekDays.disabled:hover {
  background-color: unset !important;
  cursor: default !important;
}
.adx-datePicker .date-picker .body .weekDays.active {
  background-color: #236467;
  color: white;
}
.adx-datePicker .date-picker .body .weekDays.disabled {
  color: #e6e6e6;
}
.adx-datePicker .date-picker .body .month-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

/*# sourceMappingURL=datePicker.css.map */
